{% load static %}

<nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href={% url 'index' %}>
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">

            <span style="color:red">So</span>lved</a>
          </a>

          <ul class="nav nav-pills">
        
        {% if request.user.is_authenticated %}

        <li class="nav-item"> 
          <a class="nav-link
          {% if request.resolver_match.view_name  == 'new_problem' %}
             active
          {% endif %}" href={% url 'new_problem' %}>Добавить задачу</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link
          {% if request.resolver_match.view_name  == 'change_password' %}
             active
          {% endif %} link-light" href="<!--  -->">Изменить пароль</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light" href={% url 'logout' %}>Выйти</a>
        </li>
        <li>
          Пользователь: {{ user.username }}
        <li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light" href={% url 'users:login' %}>Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light" href={% url 'users:signup' %}>Регистрация</a>
        </li>
        {% endif %}
      </ul>

        </div>

      </nav>   
